{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
    <header>
        {{- $taxonomy := $.Site.GetPage "taxonomyTerm" "categories" -}}
        {{- $terms := $taxonomy.Pages -}}
        {{ if $terms }}
        <h2 class="section-title">{{ $taxonomy.Title }}</h2>
        <div class="subsection-list">
            <div class="article-list--tile">
                {{ range $terms }}
                    {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "taxonomy") }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </header>

    {{ $categories := .Site.GetPage "taxonomyTerm" "categories" }}
    {{ range $categories.Pages }}
    {{ $category := .Title }} <!-- Extract category name -->
    {{ $id := lower (replace $category " " "-") }} <!-- Generate ID from category name -->
    <div class="archives-group" id="{{ $id }}">
        <h2 class="archives-category section-title"><a href="{{ .Permalink }}">{{ $category }}</a></a></h2>
        <div class="article-list--compact">
            
            {{ range .Pages }}
                {{ partial "article-list/compact" . }}
            {{ end }}
        </div>
    </div>
    {{ end }}

    {{ partialCached "footer/footer" . }}

{{ end }}